body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 80px;
  background-color: #e09082;
    background-image: linear-gradient(315deg, #e09082 0%, #f8dba4 74%); ;
}
a{
    text-decoration: none;
    color: black;

}